<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        {{ message }}
        <!-- <select>
            <option value=>{{ count }}</option>
        </select> -->
        <input type="number" v-model="count" :placeholder="placeHolder" maxlength="3"/>
        <button @click="handleClick">번호</button>
        <ol>
            <li v-for="lotto in result">
                {{ lotto }}
            </li>
        </ol>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'Lotto Number',
            message: 'Count : ',
            placeHolder: 'How many to generate?',
            count: 5,
            result: null,
        },
        methods: {
            handleClick: function () {
                // console.log(this.count)
                this.result = this.getLottoNumber(this.count)
            },
            getRandomInt: function (min, max) {
                return Math.floor(Math.random() * (max - min) + 1) + min;
            },
            getLottoNumber: function (count) {
                let lottoCollection = [];
                let lottoNumber = [];
                let min = 0;
                let max = 45;

                for (let index = 0; index < count; index++) {
                    lottoNumber = [];

                    for (let index2 = 0; index2 < 5; index2++) {
                        let randomNumber = this.getRandomInt(min, max);
                        while (lottoNumber.indexOf(randomNumber) !== -1) {
                            randomNumber = this.getRandomInt(min, max);
                        }
                        lottoNumber[index2] = randomNumber
                    }

                    lottoCollection.push(lottoNumber.sort((a, b) => a - b))
                }

                return lottoCollection;
            }
        }
    })
</script>

</html>